@model SchoolManagementSystemP1.Models.MuncipalityVM
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>
@using (Html.BeginForm())
{
    @Html.HiddenFor(m=>m.MunicipalityId)
    <div class="form-group">
        <label class="col-md-2">Province</label>
        @Html.DropDownListFor(model => model.ProvinceId, SchoolManagementSystemP1.CommonUtilities.Utilities.GetProvinceList(), "Select Province", new { @class = "form-control", @id = "ProvinceId" })
    </div>
    <div class="form-group">
        <label class="col-md-2">District</label>
        @Html.DropDownListFor(m => m.DistrictId, SchoolManagementSystemP1.CommonUtilities.Utilities.GetDistrictList(), "Select District", new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label class="col-md-2">Muncipality</label>
        @Html.TextBoxFor(x => x.MuncipalityName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Status, new { @class = "col-md-2" })
        @Html.RadioButtonFor(m => m.Status, "True", new { @Id = "Status" }) True
        @Html.RadioButtonFor(m => m.Status, "False", new { @Id = "Status" }) False
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Submit" class="btn btn-default" />
        </div>
    </div>
}


